services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: iptalk
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - '8080:80'
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: scit48-frontend-basic-project
    ports:
      - '8001:80' # Nginx HTTP port
    volumes:
      - ./static-files:/usr/share/nginx/html # Mount host's static-files directory

volumes:
  db_data:
