/*  AI의 도움을 많이 받았습니다  */
body {
  background-color: black;
  color: white;
}

div.home {
  min-height: 50vh;
  background: -webkit-linear-gradient(left top, #172132, black);
  background-size: cover;
  border-radius: 2.1em;
  overflow: hidden;
  height: auto;
  padding: 3%;
  padding-left: 4%;
  margin-bottom: 4%;
}

.home form {
  margin-bottom: 0;
}

div.status {
  min-height: 50vh;
  background: -webkit-linear-gradient(left top, #172132, black);
  background-size: cover;
  border-radius: 2.1em;
  overflow: hidden;
  height: auto;
  padding: 3%;
  padding-left: 4%;
}

h1.maintitle {
  margin: 0%;

}

span.ip {
  color: #7BA2FF;
}

p.page-note {
  color: lightgray;
}

.warning-box {
  color: #EDE196;
  background-color: rgba(255, 255, 126, 0.07);
  border: 2px solid #695B2A;
  border-radius: 1.3em;
  display: flex;
  padding: 1.5%;
  overflow: hidden;
  margin-bottom: 2%;
}

span.caution {
  color: #EDE196;
  font-weight: bold;
}

span.warning-title {
  font-weight: bolder;
}

button.top {
  background-color: #14161A;
  color: white;
  font-size: 16px;
  width: 140px;
  height: 50px;
  border: 1px solid #24323D;
  border-radius: 15px;
}


button.top:hover {
  background-color: #373162;
}

#one {
  background-color: darkblue;
}

div.footer {
  border: 1px solid white;
  border-radius: 40px;
}

div.myStatus {
  background-color: #0F1217;
  border: 1px solid #24323D;
  border-radius: 15px;
  overflow: hidden;
  padding: 1.5%;
}

a.middle {
  display: flex;
  background-color: #0F1217;
  color: white;
  font-size: 16px;
  height: 50px;
  border: 1px solid #24323D;
  border-radius: 15px;
  text-decoration: none;
  justify-content: left;
  align-items: center;
}

a.middle:hover {
  background-color: #373162;
}

.button-row {
  display: flex;
  margin-bottom: 5px;
}

.button-row a {
  width: 50%;
  box-sizing: border-box;
}

.button-row a:first-child {
  margin-right: 5px;
}

.yourIP,
.yourName,
.your24 {
  display: flex;
  align-items: center;
}

.mb {
  color: #AAAAAA;
  width: 120px;
  flex-shrink: 0;
  font-size: 0.9em;
}

.nb {
  color: #FFFFFF;
  flex-grow: 1;
}

div.bottom {
  background-color: #0F1217;
  background-size: cover;
  border: 1px solid #14222D;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
  margin-top: 2.5%;
  padding-left: 4%;
}

div.bottom p {
  color: lightgray;
}

.site-footer {
  background-color: #222222;
  text-align: center;
  border-top: none;
  color: lightgray;
  padding: 20px 0;
}

.site-footer__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.copyright {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

/* IP 표시 요소가 처음에는 보이지 않도록 숨김 */
#userIpDisplay {
  visibility: hidden;
  /* 영역은 유지하고 내용만 숨김 */
  /* 또는 display: none; 을 사용하여 영역 자체를 없앨 수도 있습니다. */
}

#userIpDisplay,
#user24Display {
  visibility: hidden;
  /* 영역은 유지하고 내용만 숨김 */
}