body {
  background-color: black;
  color: white;
}

div.home {
  min-height: 50vh;
  background: -webkit-linear-gradient(left top, #172132, black);
  background-size: cover;
  border-radius: 2.1em;
  overflow: hidden;
  height: auto;
  padding: 3%;
  padding-left: 4%;
  margin-bottom: 4%;
}

.home form {
  margin-bottom: 0;
}

div.status {
  min-height: 50vh;
  background: -webkit-linear-gradient(left top, #172132, black);
  background-size: cover;
  border-radius: 2.1em;
  overflow: hidden;
  height: auto;
  padding: 3%;
  padding-left: 4%;
}

.page-note {
  color: #555;
}

h1.maintitle {
  margin: 0%;

}

span.ip {
  color: #7BA2FF;
}

p.page-note {
  color: lightgray;
}

.warning-box {
  color: #EDE196;
  background-color: rgba(255, 255, 126, 0.07);
  border: 2px solid #695B2A;
  border-radius: 1.3em;
  display: flex;
  padding: 1.5%;
  overflow: hidden;
  margin-bottom: 2%;
}

span.caution {
  color: #EDE196;
  font-weight: bold;

}

button.top {
  background-color: #14161A;
  color: white;
  font-size: 16px;
  width: 140px;
  height: 50px;
  border: 1px solid #24323D;
  border-radius: 15px;
}

button.top:hover {
  background-color: #373162;
}

#one {
  background-color: darkblue;
}

div.footer {
  border: 1px solid white;
  border-radius: 40px;
}